.cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background: #f8f8f8;
}

.container {
  width: 550px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0,0,0,0.12);
}



.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

.cart-img {
  width: 90px;
  border-radius: 8px;
}

.cart-details {
  flex: 1;
}

.cart-actions {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  align-items: center;
}

.cart-input {
  width: 70px;
  padding: 5px;
}

.remove-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 7px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
}

.checkout-btn {
  padding: 10px 22px;
  background-color: rgb(0, 243, 0);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
