.product-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px; 
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  text-align: center;
}
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.18);
}

/* Product Image */
.product-card img {
  width: 100%;
  height: 180px; 
  object-fit: contain;
  margin-bottom: 5px;
}

.product-card h1 {
  margin: 5px ;
  color: black;

}

.product-card .small-muted {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.product-card h4 {
  font-size: 20px;
  font-weight: 700;
  color: #ff5722;
  margin-bottom: 5px;
}

.product-card .h3 {
  font-size: 20px;
  font-weight: 700;
  color:gold;
  margin-bottom: 5px;
}

.product-card button {
  margin-top: 5px; 
  width: 100%;
  background: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.25s ease;
}
.product-card button:hover {
  background: #0056b3;
}
